fastapi
uvicorn
motor
pymongo
certifi
python-dotenv
presidio-analyzer
presidio-anonymizer
python-multipart
spacy
langchain-core
langchain-groq
langchain-community
duckduckgo-search
ddgs
langchain-google-genai
langgraph
python-docx
pypdf
PyMuPDF